:root {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  --color: orange;
}

h1 {
  margin: 0;
}

.header {
  background-color: var(--color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.reset {
  align-self: center;
}
.reset button {
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  outline: 0.125rem solid black;
}

.reset button:hover {
  outline: 0.25rem solid black;
}

#counter {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
